<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="title-container">
            <h1>Examen Samuel Asenjo</h1>
        </div>
        <div class="link-container">
            <a href="/ejercicio1" class="link-1">Ejercicio 1</a>
            <a href="/ejercicio2" class="link-2">Ejercicio 2</a>
        </div>
    </div>
</body>
</html>